body{
    background-image: url('/asets/img/432766.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
    padding: auto;
}

.logo-navbar{
    width: 25px;
}

.titulo{
    text-align: center;
    color: white;
    font-size: 80px;
    margin-top: 20px;
}